/* 

0.header
1.home
2.quraan
3.day
4.photo
5.images
6.pray
7.images2
8.circle

*/


/* section-------------------- */

*
{
margin: 0px;
padding: 0px;
}

body
{
background-color: rgb(235, 235, 186); 
max-width: 100vw;
overflow-x: hidden;
}

a
{
text-decoration: none;
}

/* **************************************** */
.head
{
z-index: 100;  
opacity: 0.8;
position: fixed;   
top: 0px;
width: 100%;
height: 70px;
background-color: gray;
border: 3px solid black;
border-radius: 20px;
}

.photo
{
float: left;
margin-left: 120px;
font-size: 71px;
}

.list-head
{
list-style: none;
float: right;

}

.li-head
{
font-size: 25px;       
margin-top: 22px;
display: inline-block;
margin-right: 10px;
}

.li-head a
{
text-decoration: none;
color: black;
}

.login
{
margin-right: 70px;
}


/* 0.header----------------------------------------------------------------------------- */

.home
{
position: relative;
height: 100vh;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-image: url(../images/32.jpg);
}

.home-overly
{
position: absolute;    
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.1);
}

.home-content
{ 
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50%,-50%);
}

.home-title1
{
color: black;
font-size: 70px;
}

.home-p1
{   
font-size: 27px;
margin-left: 30px;
}

.btn
{
width: 150px;
height: 70px;  
border-radius: 12px;
margin-right: 20px;
margin-top: 20px;
cursor: pointer;
font-size: 20px;
}

.home-btn1
{
margin-left: 30%;
background-color: black;
border: 3px solid aqua;
font-size: 25px;
}

.home-btn2
{
font-size: 25px;
}

.home-btn1:hover
{
opacity: 0.8 ;
}

.home-btn2:hover
{
opacity: 0.8 ;
}

.home-btn1 a
{
text-decoration: none;
color : aqua ;   
}

.home-btn2 a
{
text-decoration: none;
color : black ;   
}


/* 1.home----------------------------------------------------------------------------- */
 
.quraan
{
background-color: rgb(212, 212, 164);    
width: 100%;
height: 700px;
}

.quraan-img img
{
margin-top: 50px;    
border-radius: 30px;
width: 50%;
height: 600px;
float: left;
}

.quraan-info
{
margin-top: 50px;    
float: right;
margin-right: 30px;
width: 45%;
height: 600px;


}
.quraan-title
{   
margin-left: 54%;   
font-size: 40px;
}

.quraan-dec
{
width: 80px;
height: 5px;
border-radius: 10px;
background-color: black;
float: right;
}

.quraan-p1
{   
margin-top: 70px;
font-size: 20px;
text-align: right;
}

.pp
{
float: right;
font-size: 25px;    
}

.quraan-p2
{
margin-top: 50px;
}

.quraan-p3
{
margin: 15px 0px;    
}

.quraan-p5
{
margin: 15px;
margin-right: 0px;   
}


/* 2.quraan--------------------------------------------------------------------------- */

.day
{   
height: 500px;      
margin: auto;
width: 80%; 
margin-top: 80px;
}

.h-effect
{
position: relative;
}

.h-effect::after 
{
content: "";
width: 0px;
height: 0px;
position: absolute;
top: 0;
right: 0;
transition: 0.3s;
background-color: black;
opacity: 0.1;
border-radius: 15px;
z-index: -1 ;
}

.h-effect:hover::after 
{
width: 100%;
height: 100%;
}

.h-effect:hover > h1
{
color: brown;
}


.container
{   
margin-top: 0px;
padding: 0px;
}

.container1
{
margin-top: -500px;    
}

.day-title
{
margin-top: 40px;   
text-align: center; 
font-size: 70px;
}

.title-day
{
width: 80px;
height: 5px;
margin: 47%;
border-radius: 10px;
margin-top: -1px;
background-color: black;    
}



.day-div
{  
margin: 0;     
width: 300px;
height: 210px;    
border-radius: 15px;
border: 3px solid black; 
float: left;
}

.div1
{
margin-left: 130px;    
}

.div2
{
margin: 0px 30px;    
}

.day-title1
{
padding-top: 10px;    
text-align: center;    
}

.day-p1
{
text-align: center;    
margin-top: 15px;
font-size: 20px;    
}

.day-btn1
{
margin-left: 110px;
color: blue ;
font-size: 25px; 
}

.icon1
{
font-size: 30px; 
margin: 20px 0px 10px 0px;    
margin-left: 140px;    
}

.icon2
{
font-size: 30px;     
margin: 20px 0px 10px 0px;   
margin-left: 140px;    
}

.icon3
{
font-size: 30px;    
margin: 20px 0px 10px 0px;        
margin-left: 140px;     
}


/* 3.day................................................................ */


.title-ph
{
width: 100px;
height: 5px;
margin: 40%;
border-radius: 10px;
margin-top: -1px;
background-color: black;    
}

.ph1
{
background-color: rgb(212, 212, 164) ;
width: 100%;
height: 900px;
}

.ph-title
{
margin-top: 50px;   
text-align: center; 
font-size: 70px;
}

.ph-div1
{
padding-top: 25px;
margin-left: 38%;
width: 400px;
height: 200px;
}

.sora
{
width: 300px;
height: 250px;
aspect-ratio: 1/1;
border-radius: 15px;
border: 1px solid brown;
}


.sora1
{   
float: left;
margin: 0px 20px 50px;
}

.photo1
{
margin: 30px 0px;
margin-left: 20%;
}

.pho
{
margin-left: -3%;
}

.ph-father4
{
margin-left: 17%;
}




.sora2
{   
float: left;
margin: 0px 20px;

}


.ph-img4
{
margin-left:20%;
}

.photo2
{ 
width: 100%;
height: 270px;       
margin: 30px 0px;
margin-left: 18%;
}


.h-hid
{
text-align: center;
margin-top: 50px;
color: white;
transition-delay: 0.1s;    
}

.p-hid
{
text-align: center;
font-size: 22px;
color: white;
transition-delay: 0.3s;  
}

.a-hid
{
font-size: 20px;
margin:3px 3px ;
cursor: pointer;
color: blue;
}



.div-icon1
{
margin-top: 5px;    
width: 30px;
height: 30px;    
float: left;
margin-left: 39%;
background-color: brown;
border-radius: 3px;
transition-delay: 0.5s;  
}

.div-icon2
{
margin-top: 5px; 
margin-left: 3px;
width: 30px;
height: 30px;    
float: left;
background-color: brown;
border-radius: 3px;
transition-delay: 0.5s; 
}

.father
{
float: left;   
position: relative;

}

.hid
{ 
width: 300px;
height: 250px;
background-color: black;
border: 3px solid black;
border-radius: 15px;       
margin: 0px 15px 15px 0px;
margin-left: 5%;
float: left;
opacity: 0.7;
}

.hid1
{
position: absolute;
visibility: hidden;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
float: left;
}

.ph-father1:hover .hid1
{
position: absolute;
visibility: visible;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.hid2
{
position: absolute;
visibility: hidden;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
float: left;
}

.ph-father2:hover .hid2
{
position: absolute;
visibility: visible;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.hid3
{
position: absolute;
visibility: hidden;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
float: left;
}

.ph-father3:hover .hid3
{
visibility: visible;
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}


.hid4
{
position: absolute;
visibility: hidden;
margin-left: 20%;
float: left;
}

.ph-father4:hover .hid4
{
position: absolute;
visibility: visible;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.hid5
{
position: absolute;
visibility: hidden;
float: left;
}


.ph-father5
{
margin-left: 65px;
}


.ph-father5:hover .hid5
{
visibility: visible;
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}

.hid6
{
position: absolute;
visibility: hidden;
float: left;
}

.ph-father6:hover .hid6
{
visibility: visible;
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
}



/* 4.photo ............................................................ */

.bk-img
{
background :url(../images/29.jpg) no-repeat fixed  ;
width: 100%;
height: 300px;
position: relative;
}

.bk-over
{
position: absolute;    
top: 0px;
left: 0px;
right: 0px;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,0.2);
}

.bk-child
{
width: 20%;
height: 100px;
float: left;
margin-top: 110px;
}

.bk-child1
{
margin-left: 15%;
}

.bk-icon
{
margin-left: 25px;
font-size: 30px;
}

.bk-icon3
{
margin-left: 20px;
font-size: 30px;
}

.bk-title
{
margin-top: 5px 0px;
margin-left: 20px;
}

.bk-title
{
margin-top: 5px 0px;
margin-left: 15px;
}

.bk-p
{
font-size: 30px;
font-weight: 900;
margin-right: 15px;
}






/* 5.images ............................................................. */
.pray
{
background-color:  rgb(212, 212, 164);
width: 100%;
height: 800px;
}


.h-effects
{
position: relative;
}

.h-effects::after 
{
content: "";
width: 0px;
height: 0px;
position: absolute;
top: 0;
right: 0;
transition: 0.3s;
background-color: black;
opacity: 0.1;
border-radius: 15px;
}

.h-effects:hover::after 
{
width: 100%;
height: 100%;
}

.h-effects:hover > h1
{
color: brown;
}


.pray-container
{
margin-left: -2%;
}

.pp1
{
color: gray;   
float :right;
margin: 5px 8px 0px 0px;
font-size: 2em;
}

.pray-h1
{
margin-top: 10px;    
text-align: center;
}

.pray-p1
{
margin-top: 20px;
text-align: right;
padding-right: 5px;
font-size: 22px;
}



.pray-title
{
margin-top: 40px;   
text-align: center; 
font-size: 70px;
}

.title-pray
{
width: 120px;
height: 5px;
margin: 35%;
border-radius: 10px;
margin-top: 3px;
background-color: black;    
}

.pray-div1
{
padding-top: 25px;
margin-left: 38%;
width: 400px;
height: 200px;
}

.pray-div2
{      
width: 300px;
height: 200px;
margin-top: 30px;    
border-radius: 15px;
border: 3px solid black; 
float: left;
}

.pray-div3
{ 
float: left;      
margin-top: 30px;     
width: 300px;
height: 200px;    
border-radius: 15px;
border: 3px solid black; 
}

.dv1
{
margin-left: 20%;
}

.dv4
{
margin-left: 20%;
}

.dv2
{
margin: 30px 30px 0px;
}

.dv5
{
margin: 30px 30px;
}


/* 6.pray........................................................................ */
.bk-img2
{
background :url(../images/46.jpg) repeat fixed ;
width: 100%;
height: 300px;
position: relative;
}

.bk-over1
{
position: absolute;    
top: 0px;
left: 0px;
right: 0px;
height: 100%;
width: 100%;
}

.bk-div1
{
width: 500px;
height: 250px;
float: left;
margin-left: 240px;
margin-right: 50px;
}

.bk-div2
{
width: 500px;
height: 250px;
float: left;
}

.bk-img1
{
width: 80px;
height: 80px;
border-radius: 50%;
border: 1px solid black;
float: right;
margin-top: 15px;
margin-right: 10px;
}

.h-bk
{
display: inline;
font-size: 30px;
float: right;
margin-top: 20px;
margin-right: 15px;
}

.bk-pp1
{
float: right;
margin-top: 60px;
margin-right: -70px ;
font-size: 30;
}

.bk-pp2
{
float: right;
text-align: right;
margin-top: 15px;
font-size: 25;
}

.bbk
{
margin-top: 65px;
}

   
/* images2....................................................................... */



.circle
{
background-color:  rgb(212, 212, 164);
width: 100%;
height: 750px;
}

.c-d
{
text-align: center;
font-size: 70px;
}

.d-circle
{   
padding-top: 70px;
margin-left: 38%;
width: 400px;
height: 200px;
}

.title-cir
{
width: 100px;
height: 5px;
margin: 38%;
border-radius: 10px;
margin-top: 3px;
background-color: black;    
}


.c-title
{
margin-top: 20px;
text-align: center;
}

.c-div
{
width: 70px;
height: 70px;
border-radius: 50%;
border: 2px solid black;
margin-left: 115px;
margin-top: 20px;
}

.ct
{
text-align: center;
margin-left: 12px;
font-size: 30px;
}

.c-p
{
text-align: center;
font-size: 20px;
}

.cono
{    
margin-left: 90px;
text-align: right;
width: 200px;
height: 40px;
font-size: 25px ;
display: inline-block;
}

.cono1
{
margin-left: 90px;
text-align: right;
width: 200px;
height: 40px;
font-size: 25px ;
display: inline-block;
}

.cono2
{
margin-left: 90px;
text-align: right;
width: 200px;
height: 40px;
font-size: 25px ;
display: inline-block;
}

.cono3
{
margin-left: 90px;
text-align: right;
width: 200px;
height: 40px;
font-size: 25px ;
display: inline-block;
}

.cr1
{
margin-left: 320px;
}

.cr2
{
margin: 0px 20px;
}

.h-effect22
{
position: relative;
width: 300px;
height: 330px;
border: 3px solid black;
border-radius: 20px;
float: left;
}

.h-effect22::after 
{
content: "";
width: 100%;
height: 0px;
position: absolute;
top: 0;
left: 0;
transition: 0.3s;
background-color: black;
opacity: 0.1;
border-radius: 20px;
}

.h-effect22:hover::after 
{
width: 100%;
height: 100%;
}

.h-effect22:hover > h1
{
color: brown;
}

.h-effect22:hover span
{
color: brown;
}

/* circle...................................................................... */


.footer
{
background :url(../images/46.jpg) no-repeat fixed ;
width: 100%;
height: 400px;
position: relative;
}

.ph-footer
{
width: 400px;
border: 2px solid black;
height: 200px;
border-radius: 20px;
margin-top: 50px;
margin-left: 39%;
}

.icon25
{
font-size: 30px;
color: brown ;
margin-top: 40px;
}

.abdo
{
margin-left: 48%;
}

.emil
{
margin-left: 40%;
margin-top: 15px;
font-size: 25px;
}


/* footer...................................................................... */

















